.LocationViewer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 40px;
    background-color: white;

    h1 {
      font-size: 35px;
    }
  }

  .content {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    img {
      object-fit: cover;
    }
  }
}
